.mode {
       /* margin: 15px; */
       position: absolute;
       top: 0;
       right: 3em;
       color: var(--bs-blue);
       font-size: 2.5em;
       cursor: pointer;
  }
  .navBar{
     background-color: var(--bs-white) !important;
     color: var(--bs-blue);
  }
  
.linkCol{
     color: var(--bs-blue);
}