<div class="main">
  <div class="container">
    <div class="heading">
      <h1>Position Sizing in Trading</h1>
    </div>
    <h2>What Is Position Sizing?</h2>
    <p>
      An investor or trader's position size refers to the number of units they
      have invested in a particular security. It is important to take into
      account an investor's account size and risk tolerance when determining the
      size of a position.
    </p>

    <h2>Understanding Position Sizing</h2>
    <p>
      Position sizing refers to the size of a position within a portfolio or the
      amount an investor will invest. In order to maximize returns and control
      risk, investors use position sizing to determine how many units of
      securities they can purchase. Although position sizing applies to most
      investment types, it is most closely associated with day trading and
      currency trading
    </p>

    <p>
      While position sizing is an important concept in most every investment
      type, the term is most closely associated with day trading and currency
      trading (forex).
    </p>

    <h3>KEY TAKEAWAYS</h3>
    <div>
      <ul>
        <li>
          Positon sizing refers to the number of units an investor or trader
          invests in a particular security.
        </li>
        <li>
          Determining appropriate position sizing requires an investor to
          consider their risk tolerance and the size of the account.
        </li>
        <li>
          While position sizing is an important concept in most every investment
          type, the term is most closely associated with faster-moving investors
          like day traders and currency traders.
        </li>
        <li>
          Even with correct position sizing, investors may lose more than their
          specified risk limits if a stock gaps below their stop-loss order.
        </li>
      </ul>
    </div>

    <h2>Position Sizing Example</h2>
    <p>
      Using correct position sizing involves weighing three different factors to
      determine the best course of action:
    </p>
    <h4>Account Risk</h4>
    <p>
      Before an investor can use appropriate position sizing for a specific
      trade, they must determine his account risk. This typically gets expressed
      as a percentage of the investor’s capital. As a rule of thumb, most retail
      investors risk no more than 2% of their investment capital on any one
      trade; fund managers usually risk less than this amount.
    </p>
    <p>
      For example, if an investor has a $25,000 account and decides to set their
      maximum account risk at 2%, they cannot risk more than $500 per trade (2%
      x $25,000). Even if the investor loses 10 consecutive trades in a row,
      they have only lost 20% of their investment capital.
    </p>
    <h4>Trade Risk</h4>
    <p>
      The investor must then determine where to place their stop-loss order for
      the specific trade. If the investor is trading stocks, the trade risk is
      the distance, in dollars, between the intended entry price and the
      stop-loss price. For example, if an investor intends to purchase Apple
      Inc. at $160 and place a stop-loss order at $140, the trade risk is $20
      per share.
    </p>
    <h4>Proper Position Size</h4>
    <p>
      The investor now knows that they can risk $500 per trade and is risking
      $20 per share. To work out the correct position size from this
      information, the investor simply needs to divide the account risk, which
      is $500, by the trade risk, which is $20. This means 25 shares can be
      bought ($500 / $20).
    </p>
    <h4>Position Sizing and Gap Risk</h4>
    <p>
      Investors should be aware that even if they use correct position sizing,
      they may lose more than their specified account risk limit if a stock gaps
      below their stop-loss order. If increased volatility is expected, such as
      before company earnings announcements, investors may want to halve their
      position size to reduce gap risk.
    </p>
  </div>
</div>
