@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main{
  background: var(--bs-white);
  color: var(--bs-black);
}
.heading{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 3em;
  color: var(--bs-blue);
}
.img{
  margin-bottom: 10px;
}